<div class="dashboard">
  <h4>Welcome {{name}} !</h4>
  <h6>Find bellow your Projects !</h6>
</div>

<div class="content">
  {{#if projects}}
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Link</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each projects}}
      <tr>
        <td><a href="/projects/{{_id}}" style="color: #039be5 ; font-style: italic; font-weight: bold">{{name}}</a>
        </td>
        <td><span class="dash-status">{{status}}</span></td>
        <td><a href="{{link}}" style="color: #039be5">{{link}}</a></td>
        <td>{{formatDate createdAt 'MMM Do YYYY'}}</td>
        <td>
          <div class="buttons">
            <a href="/projects/edit/{{_id}}" class="btn btn-edit btn-float deep-orange accent-3">
              <i class="fas fa-edit"></i>
            </a>

            <form action="/projects/{{_id}}" method="POST" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-delete red accent-4">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </div>

        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
  <div class="no-projects">
    <p>You have not created any projects !</p>
  </div>
  {{/if}}
</div>